<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
</head>
<body>
<form action="#"
      th:action="@{/processexperiance}"
      th:object="${experiance}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    profession : <input type="text" th:field="*{profession}" />
    <span th:if="${#fields.hasErrors('profession')}"
          th:error="*{profession}"></span><br />
    Company Name : <input type="text" th:field="*{companyname}" />
    <span th:if="${#fields.hasErrors('companyname')}"
          th:error="*{companyname}"></span><br />
    Starting Date : <input type="date" th:field="*{startingdate}" />
    <span th:if="${#fields.hasErrors('startingdate')}"
          th:error="*{startingdate}"></span><br />
    Ending Date : <input type="text" th:field="*{endingdate}" />
    <span th:if="${#fields.hasErrors('endingdate')}"
          th:error="*{endingdate}"></span><br />
    Duties
    Duty: <input type="text" th:field="*{duty}" />
    <span th:if="${#fields.hasErrors('duty')}"
          th:error="*{duty}"></span><br />
    <input type="submit" value="Submit" />
</form>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>